.containerMain {
  display: grid;
  padding: 1.6rem;
  grid-template-columns: 0.5fr 1.7fr;
  grid-template-rows: 1fr;
  height: 100vh;
  gap: 50px;
  align-items: center;
  grid-template-areas: "profile-menu profile-settings";
}

.usernameStyle{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {

  .containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .modal-dialog,.modal-content,.modal{
    z-index: 9999 !important;
  }

  }



.trasparentButton{
  background-color: transparent;
  border: 0px;
  color: white;
}

.datetime {
  font-size: 12px;
  color: rgb(168, 179, 207);
  margin: 10px 0;
}

.description {
  color: aliceblue;
}

.deleteButton{
  background-color: transparent;
  border: 0px;
  color: whitesmoke;
}
.deleteButton:hover{
  color: red;
}

textarea{
  background-color: #3a3a3a8c;
  color: aliceblue;
  border: 0px;
  border: 1px solid #0a2041a9;
}

.avatarPic{
  width: 125px;
  border: 2px solid rgb(43, 128, 226);
  border-radius: 200px;
}


.profile-menu,
.profile-settings {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
  color: aliceblue;
}

.profile-menu {
  grid-area: profile-menu;
}

.profile-settings {
  grid-area: profile-settings;
}

:host ::ng-deep .p-fieldset-legend {
  color: #2d79db;
  background-color: transparent;
  border: 1px solid grey;
  width: 25%;
  font-size: 16px;
}

:host ::ng-deep .p-fieldset {
  border: 1px solid grey;
}

:host ::ng-deep ul.p-tabmenu-nav.p-reset{
  width: 100%;
}

:host ::ng-deep .p-tabmenu {
  width: 100%;
}

:host ::ng-deep .p-ripple.p-element.p-menuitem-link{
  width: 100%;
  border-radius: 8px;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  width: 100%;
  border-width: 1px;
  border-color: rgb(20, 207, 220);
  background-color: #0a2041a9;
  border: 1px solid #1a2538;
  color: #fff;
  padding: 0.857rem 1rem;
  font-weight: 700;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  margin: 0 0 -1px 0;
}

:host ::ng-deep .p-tabmenu:hover .p-tabmenu-nav:hover .p-tabmenuitem:hover .p-menuitem-link{
  background-color: #206fe6a9;
  border-color: #72a1f3;
  color: #fff;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background-color: #206fe6a9;
  border-color: #72a1f3;
  color: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Krub:400,700');


.post-card {
  width: 100%;
  background: #181b20;
  border: 1px solid rgb(84, 90, 106);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.avatarName {
  color: #fff;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: linear-gradient(to top left, blueviolet, rgb(73, 31, 112));
}

.title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.35s ease-in;
}

.title:hover {
  text-decoration: underline;
  color: blueviolet;
}

.datetime {
  font-size: 12px;
  color: rgb(168, 179, 207);
  margin: 10px 0;
}

.image-preview {
  flex: 1;
  min-height: 150px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(to top left, blueviolet, rgb(73, 31, 112));
  margin-bottom: 4px;
}

.comment-like {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  padding: 2px 0;
}

.comment-like span {
  cursor: pointer;
  height: 40px;
  width: 80px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.15s ease;
}

.comment-like span:hover {
  background-color: #002f50;
}

.comment-like span svg {
  fill: #fff;
  margin-right: 2px;
}

.searchPost {
  width: 97%;
}

.like-button {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.like-button .like-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url('./../../../assets/imgs/hollowHeart.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.like-button.clicked .like-icon:before,
.like-button.clicked .like-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}
.iconNumber {
  font-family: var(--font-family);
  text-align: center;
  color: #fff;
}


.cardComments {
  width: 100%;
  background-color: #1a1d21;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #262f3f;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-window {
  height: 220px;
  overflow-y: scroll;
}

.message-list {
  color: aliceblue;
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #1a2538;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #739ce4;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.modal-content,
.modal-dialog {
  color: white;
  background-color: #1a1d21 !important;
}

input,select,option{
  color: #000;
}
