.container {  display: grid;
  grid-template-columns: 0.5fr 1.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile-menu profile-settings";
}

.profile-menu { grid-area: profile-menu; }

.profile-settings { grid-area: profile-settings; }
