<nav class="navbar navbar-expand-lg w-100 header-background">
  <div class="container-fluid ">
    <div>
      <a routerLink="/"><img src="./../../../assets/imgs/CKLogo.png" class="logo" alt=""></a>
    </div>
    <div class="order-lg-4 order-0" >
      <a routerLink="/login" class="headerButton d-lg-block d-none ">Iniciar Sesión</a>
      <button class="navbar-toggler d-lg-none d-flex justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="toggle">
            <div class="bars" id="bar1"></div>
            <div class="bars" id="bar2"></div>
            <div class="bars" id="bar3"></div>
        </label>
      </button>
    </div>
      <div class="collapse navbar-collapse p-3" id="navbarSupportedContent">
        <a routerLink="/login" class="headerButton d-lg-none">Iniciar Sesión</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbarList">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Tus perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lista de amigos</a>
          </li>
        </ul>

    </div>
  </div>
</nav>
