.mainContainer {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.2fr 2.8fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "add-newPost add-newPost"
    "posts otherContent"
    "posts otherContent";
  grid-area: content;
}

.add-newPost {
  grid-area: add-newPost;
}

.posts {
  grid-area: posts;
  background-color: aliceblue;
}

.otherContent {
  grid-area: otherContent;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}
