
.header-zone{
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.post-zone{
  margin-left: auto;
  margin-right: auto;
}

.footer-zone{
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
