/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(0deg, #000000b2 0%, #000000b2 100%), url("assets/imgs/CKbackground.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
