.containerMenu {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "menu index";
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  grid-area: menu;
  background-color: #0e0f12;
  height: 100%;
  color: #fff;
}

.index {
  grid-area: index;
}

.backgroundWaves {
  margin: auto;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(0, 61, 101) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgb(0, 61, 101) 68%,
    rgb(70, 172, 240) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  height: 100vh;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}






