<div class="container p-3">
  <div class="gameBackground d-flex flex-column gap-4">
    <h1 class="fontStyling">{{juego.nombre}}</h1>
    <div class="d-flex">
      <img class="juegoImg" src="{{juego.imagen}}" alt="">
      <div class="p-3">
        <h2 class="fontStyling">Plataforma</h2>
        <p>{{juego.plataforma}}</p>
        <h2 class="fontStyling">Fecha Lanzamiento</h2>
        <p>{{juego.fecha_lanzamiento}}</p>
        <h2 class="fontStyling">Género</h2>
        <p>{{juego.genero}}</p>
        <h2 class="fontStyling">Desarrolladores</h2>
        <p>{{juego.desarrolladores}}</p>
      </div>
    </div>
    <div class="p-3">
      <h2 class="fontStyling">Publicaciones sobre {{juego.nombre}}</h2>
      <div>
        <div *ngIf="listaPublicaciones.length == 0">
          No existe ninguna publicación ¡Añade una!
        </div>
        <div class="post-card" *ngFor="let post of listaPublicaciones">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <div class="avatar"></div>
              <div class="avatarName p-2">{{ getUserName(post.id_usuario) }}</div>
            </div>
            <div>
              <div *ngIf="post.id_usuario == usuario.id">
                <button class="pi pi-trash p-3 deleteButton" (click)="deletePost(post.id)"></button>
              </div>
            </div>
          </div>
          <p class="description">{{ post.mensaje }}</p>
          <span class="datetime">{{ post.fecha }}</span>
          <!--
          <div *ngIf="post.adjunto !== ''">
            <div class="image-preview"></div>
          </div>
          -->
          <div class="comment-like">
            <span>
              <div class="large-font text-center top-20 d-flex">
                <button class="like-button d-flex">
                  <span class="pi pi-heart gap-1" style="color: aliceblue;">
                    <div class="iconNumber">{{ post.megusta }}</div>
                  </span>
                </button>
              </div>
            </span>
            <span class="pi pi-comments gap-1" (click)="getCommentsByPostId(post.id)" data-bs-toggle="modal"
              data-bs-target="#addComment">{{getNumberOfPosts(post.id)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addComment" tabindex="-1" aria-hidden="true" aria-labelledby="addCommentLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="cardComments">
          <div class="chat-header">Comentarios</div>
          <div class="chat-window">
            <ul class="message-list">
              <li *ngFor="let comentarios of postComentarios">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="avatar"></div>
                    <div class="avatarName p-2">{{ getUserName(comentarios.id_usuario) }}</div>
                    <div>{{comentarios.comentario}}</div>
                  </div>
                  <div *ngIf="comentarios.id_usuario == usuario.id">
                    <button class="pi pi-trash p-3 deleteButton" (click)="deleteComentario(comentarios.id)"></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="chat-input">
            <input [(ngModel)]="comentario.comentario" type="text" class="message-input"
              placeholder="Type your message here">
            <button class="send-button" (click)="addComentario()">Send</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
